body {
  font-family: 'Lora', serif;
  font-weight: normal;
}
.container {
  color: rgb(107, 33, 176); /* purple text */
  font-family: 'Georgia', serif;
  padding: 10px 60px;
}
.hero {
  background-image: url("./photos/celloPlayer.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.hero * {
  position: relative;
  z-index: 1;
}
.header {
  padding: 20px 60px 80px 60px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.header-title {
  font-size: 25px;
  letter-spacing: 1px;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* vertical + horizontal spacing */
  margin: 15px;
}

.header-icons img {
  width: 26px;
  filter: invert(100%);
  transition: transform 0.3s ease;
}

.header-icons img:hover {
  transform: scale(1.2);
}

.contact {
  cursor: pointer;
  transition: transform 0.3s ease;
}



.contact:hover,
.page-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.header-bottom {
  display: flex;
  margin-top: 80px;
  align-items: center;
}


.hero-text-large {
  flex: 1;
  text-align: center;
  font-size: 52px;
  padding: 0px;
  align-items: center;
  margin-right: 20px;
}


.hero-text-small {
  flex: 1;
  text-align: center;
  margin-left: 20px;
}

.responsive-img {
  width: 100%;
  height: auto;
}






@media (max-width: 768px) {

  .header {
    padding: 10px 10px 50px 10px;
  }
  .header-top {
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }

  .header-icons {
    justify-content: center;
  }

  .header-bottom {
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
  }

  .hero-text-large {
    font-size: 30px;
  }
  .header-links {

    justify-content: center;
  }

  
}
@media (max-width: 375px) {

  .header {
    padding: 10px 10px 50px 10px;
  }
  .header-top {
    flex-direction: column;
    text-align: center;
  }

  .header-icons {
    justify-content: center;
  }

  .header-bottom {
    flex-direction: column;
    display: flex;
    margin-top: 30px;
    align-items: center;
  }


  .hero-text-large {
    font-size: 30px;
  }
  .header-links {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px; /* vertical + horizontal spacing */
    margin: 0px
  }

  

  
}

.screen-test {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  z-index: 9999;
}

/* Phone */
@media (max-width: 375px) {
  .screen-test::after {
    content: "375px";
  }
}

/* Tablet */
@media (min-width: 376px) and (max-width: 744px) {
  .screen-test::after {
    content: "744px";
  }
}

/* Desktop */
@media (min-width: 745px) {
  .screen-test::after {
    content: "1280px";
  }
}